@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;


body {
  font-family: 'Balsamiq Sans', cursive;
}

.overlay {
  background-color: #9b9ec499;
}

.modal-all-enter {
  opacity: 0;
  transform: scale(0.9);
}

.modal-all-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.modal-all-exit {
  opacity: 1;
}

.modal-all-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.lds-ripple {
  @apply relative inline-block h-20 w-20;
}

.lds-ripple::before {
  position: absolute;
  content: '';
  border: 4px solid red;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple::after {
  content: '';
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    @apply top-9 left-9 w-0 h-0 opacity-100;
  }

  100% {
    @apply top-0 left-0 w-20 h-20 opacity-0;
  }
}

